.main.orders {
  @include flex(center);

  margin-bottom: 70px;

  .container {
    @include flex(flex-start);

    flex-direction: column;
    width: 100%;
    max-width: 1024px;
    padding: 42px;
    padding-top: 10px;
  }

  .selectBox {
    @include flex(flex-start, flex-end);

    width: 100%;

    .checkedTag {
      margin-left: 31px;
    }

    .tagSelect {
      margin-top: 30px;
      margin-right: 16px;
      margin-left: 5px;
      font-weight: bold;
    }

    .stateChange {
      margin-right: auto;
    }

    .el-dropdown-link {
      cursor: pointer;
    }

    .bt-editSection {
      position: relative;
      bottom: -5px;
      width: 136px;
      height: 29px;
      padding: 0;
      border: 0;
      background: transparent;
      font-weight: bold;
    }
  }

  .el-table {
    margin-top: 1rem;
    padding: 20px;
    padding-bottom: 30px;
    // background: $color-bg-gray;

    &__header .el-checkbox {
      display: none;
    }

    tr.done {
      :not(.el-input__inner, .el-select__caret) {
        text-decoration: line-through;
        color: #9b9b9b;
      }
      .productList {
        .title,.count {
          color: #9b9b9b;
        }
      }
    }

    tr.unpaid {
      :not(.el-input__inner, .el-select__caret) {
        color: #9b9b9b;
      }
      .productList {
        .title,.count {
          color: #9b9b9b;
        }
      }
    }

    td {
      vertical-align: top;
    }

    .productList {
      .title {
        color: $color-black;
        font-size: 14px;
        line-height: 21px;
      }

      .item {
        padding-bottom: 8px;
      }

      .item + .item {
        padding-top: 8px;
        border-top: 1px solid $color-white;
      }

      .info {
        @include flex(space-between);
      }

      .price {
        color: $color-gray-dark;
        font-size: 14px;
        line-height: 21px;
      }

      .count {
        padding-right: 10px;
        text-align: right;
        color: $color-black;
        font-size: 14px;
        line-height: 21px;
      }
    }

    .currency-title {
      padding-right: 8px;
      text-align: right;
    }

    .currency-content {
      display: inline-block;
      width: 100%;
      text-align: right;
    }

    .statusSelect {
      width: 108px;

      .el-input__inner {
        color: $color-white;
        font-weight: bold;
      }
      .el-select__caret {
        color: $color-white;
      }

      .el-input.is-focus .el-input__inner {
        border-color: transparent;
      }
      .el-input__inner:focus {
        border-color: transparent;
      }
    }
  }
}

// 客製el樣式
.tag-dropdown-menu {
  .el-dropdown-menu__item:not(.is-disabled):hover {
    color: $color-white;
    background-color: $color-black;
  }
}

.stateChange-dropdown-menu {
  width: 181px;

  .stateChange__title {
    display: inline-block;
    width: 100%;
    padding-bottom: 8px;
    text-align: center;
    font-size: 16px;
    line-height: 16px;
  }

  .el-dropdown-menu__item {
    text-align: center;
  }

  .el-dropdown-menu__item:not(.is-disabled):hover {
    color: $color-white;
    background-color: $color-black;
  }
}

.editSection {
  width: 100px;
  padding: 10px;

  .el-checkbox-group {
    @include flex(flex-start);

    flex-direction: column;
    padding-left: 10px;
  }
  // background: $color-gray-light2;

  .el-checkbox {
    color: $color-black;
    font-size: 1rem;
    font-weight: bold;
  }
  .el-checkbox + .el-checkbox {
    margin-top: 1rem;
    margin-left: 0;
  }

  .el-checkbox__input.is-checked .el-checkbox__inner,.el-checkbox__input.is-indeterminate .el-checkbox__inner {
    border-color: $color-black;
    background-color: $color-black;
  }

  .el-checkbox__input.is-checked + .el-checkbox__label {
    color: $color-black;
  }
}

.statusOptions {
  &.el-select-dropdown__item.hover,&.el-select-dropdown__item:hover {
    color: $color-white;
    background-color: $color-black;
  }
}

.bg-paid {
  color: $color-white;
  border: $color-green;
  border-radius: 5px;
  background: $color-green;

  .el-input__inner {
    background: $color-green;
  }
}

.bg-shipping {
  color: $color-white;
  border: $color-orange;
  border-radius: 5px;
  background: $color-orange;

  .el-input__inner {
    background: $color-orange;
  }
}

.bg-done {
  color: $color-white;
  border: $color-blue;
  border-radius: 5px;
  background: $color-blue;

  .el-input__inner {
    background: $color-blue;
  }
}

.bg-unpaid {
  color: $color-white;
  border: $color-gray-dark;
  border-radius: 5px;
  background: $color-gray-dark;

  .el-input__inner {
    background: $color-gray-dark;
  }
}
