.main.product {
  @include flex(center);

  margin-bottom: 70px;

  .container {
    @include flex(flex-start);

    flex-direction: column;
    width: 100%;
    max-width: 1024px;
    padding: 42px;
    padding-top: 10px;

    @media screen and (max-width: $mq-mobile) {
      padding: 10px;
    }
  }

  .selectBox {
    @include flex(flex-start, flex-end);

    width: 100%;

    .checkedTag {
      margin-left: 31px;
    }

    .tagSelect {
      margin-top: 30px;
      margin-right: 16px;
      margin-left: 5px;
      font-weight: bold;
    }

    .btn-add {
      height: 34px;
      margin-left: auto;
      padding: 0 20px;
      color: $color-white;
      border: 1px solid $color-black;
      background: $color-black;
      font-weight: bold;
    }
  }

  .el-table {
    margin-top: 1rem;
    padding: 20px;
    padding-bottom: 30px;

    &__header .el-checkbox {
      display: none;
    }

    tr.unpublished {
      :not(.el-input__inner, .el-select__caret) {
        color: #9b9b9b;
      }
      .productList {
        .title,.count {
          color: #9b9b9b;
        }
      }
    }

    td {
      vertical-align: top;
    }

    .currency-title {
      padding-right: 16px;
      text-align: right;
    }

    .currency-content {
      display: inline-block;
      width: 100%;
      text-align: right;
    }

    .statusSelect {
      width: 150px;

      .el-input__inner {
        color: $color-white;
        font-weight: bold;
      }
      .el-select__caret {
        color: $color-white;
      }

      .el-input.is-focus .el-input__inner {
        border-color: transparent;
      }
      .el-input__inner:focus {
        border-color: transparent;
      }
    }
  }

  .row {
    @include flex(space-between, flex-start);

    .column {
      @include flex(flex-start);

      flex-direction: column;
      width: 100%;

      span {
        width: 100%;
        margin-bottom: 8px;
      }

      &:last-child {
        padding-right: 22px;
        text-align: right;
      }
    }
  }

  .row + .row {
    padding-top: 12px;
    border-top: 1px solid #cccccc;
  }

  .imgBox {
    width: 100px;
    height: 80px;
    margin-top: 5px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
  }

  .textRight {
    padding-right: 16px;
    text-align: right;
  }

  .el-dropdown-link {
    cursor: pointer;
  }
}

.bg-published {
  color: $color-white;
  border: $color-green;
  border-radius: 5px;
  background: $color-green;

  .el-input__inner {
    background: $color-green;
  }
}

.bg-unpublished {
  color: $color-white;
  border: $color-gray-dark;
  border-radius: 5px;
  background: $color-gray-dark;

  .el-input__inner {
    background: $color-gray-dark;
  }
}

// The mask

.mask {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  transition: .7s;
  opacity: 0;
  background: rgba(52, 73, 94, .8);
}

// Modal

.modal {
  position: absolute;
  z-index: 100;
  top: 40px;
  left: 50%;
  visibility: hidden;
  margin-bottom: 60px;
  transition: .5s ease-out;
  transform: translate(-50%, 50%);
  opacity: 0;
  background: #bdc3c7;
}

.addProduct {
  overflow: hidden;
  width: 940px;
  // height: 700px;
  border-radius: 4px;

  &__header {
    @include flex(space-between, center);

    width: 100%;
    height: 64px;
    padding: 0 35px;
    color: $color-white;
    background: $color-black;
    font-size: 24px;
    font-weight: bold;
  }

  .panel {
    @include flex(space-between, flex-start);

    padding: 30px;
    background: $color-white;

     > div {
      width: calc((100% - 30px) / 2);
    }

    .panel__left {
      .upload {
        @include flex(center);

        position: relative;
        flex-direction: column;
        width: 100%;
        height: 150px;
        color: #757575;
        border-radius: 2px;
        background-color: #ebebeb;
        font-size: 16px;
        font-weight: bold;

        i {
          margin-bottom: 8px;
          font-size: 40px;
        }
      }
      .images {
        @include flex(space-between);

        width: 100%;
        margin-top: 8px;

        flex-wrap: wrap;

        img {
          margin-top: 8px;
        }
      }
    }

    .panel__right {
      @include flex(flex-start);

      flex-direction: column;

      b {
        margin-bottom: 8px;
        letter-spacing: 0;
        color: #373a3c;
        font-size: 16px;
        font-weight: bold;

        &:nth-child(n + 2) {
          margin-top: 16px;
        }
      }

      .el-textarea {
        margin: 8px 0;
      }
      .el-input-group {
        margin-bottom: 8px;
      }

      .n2 {
        @include flex(space-between, center);

        .el-input-group {
          margin-right: 8px;
        }

        .el-input__inner {
          width: 100px;
          text-align: right;
        }
      }

      .n3 {
        @include flex(space-between, center);

        .el-input-group {
          margin-right: 8px;
        }

        .el-select {
          .el-input {
            width: 65px;
          }
        }

        .color {
          .el-input-group__prepend {
            padding: 0 5px;
          }

          .el-input__inner {
            width: 85px;
            text-align: right;
          }
        }
        .inventory {
          .el-input-group__prepend {
            padding: 0 5px;
          }
          .el-input__inner {
            width: 80px;
            text-align: right;
          }
        }
      }

      .btn-addSpecification {
        width: 100%;
        height: 38px;
        // margin-left: auto;
        padding: 0 20px;
        color: $color-white;
        border: 1px solid $color-black;
        background: $color-black;
        font-size: 16px;
        font-weight: bold;
      }
    }
  }

  .footer {
    padding: 0 30px;
    padding-bottom: 30px;
    text-align: right;
    background: $color-white;

    .save {
      width: 130px;
      height: 34px;
      padding: 0 20px;
      color: #757575;
      border: 1px solid transparent;
      background: transparent;
      font-size: 16px;
      font-weight: bold;
    }

    .publish {
      width: 130px;
      height: 34px;
      padding: 0 20px;
      color: $color-white;
      border: 1px solid $color-black;
      background: $color-black;
      font-size: 16px;
      font-weight: bold;
    }
  }
}

// Close Button

.modal-close {
  width: 35px;
  height: 30px;
  cursor: pointer;
  color: #ffffff;
  border: 0;
  background: #000000;
  font-size: 24px;
}

// Class Active

.active {
  visibility: visible;
  opacity: 1;
}

// When active class is added, that affects the modal class

.active + .modal {
  visibility: visible;
  transform: translate(-50%, 0);
  opacity: 1;
}
